/* ================= GLOBAL RESET ================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  padding-top: 64px;
}


/* ================= BASE ================= */
:root {
  font-family: "Poppins", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #d3d9d4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* ================= FOOTER ================= */
footer {
  background-color: #212a31;
  text-align: center;
  padding: 15px 0;
  font-size: 0.9rem;
  color: #d3d9d4;
}
